<h1 class="title">Lista de Productos...</h1>
{{#each products}}
  <div class="product" id="{{this.id}}">
    <h2 class="name">{{this.title}}</h2>
    <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" class="productImage">
    <p class="description">Descripción: {{this.description}}</p>
    <p class="price">Precio: ${{this.price}}</p>
    <p class="status">Producto disponible: {{this.status}}</p>
    <p class="stock">Stock: {{this.stock}}</p>
    <p class="category">Categoría: {{this.category}}</p>
  </div>
{{/each}}

<div id="pagination-controls">
  <label for="limit">Registros por página:</label>
  <select id="limit">
    <option value="5">5</option>
    <option value="10" selected>10</option>
    <option value="15">15</option>
    <option value="20">20</option>
  </select>

  <div id="page-buttons"></div>
</div>